body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 40px 60px;
  font-size: 16px;
  background: #718F94;
}

h1 {
  text-align: center;
}


.demo {
  margin-bottom: 40px;
}

#missing-value {
  display: none;
  color: red;
}

#missing-value.display {
  display: block;
}

.demo .loading-indicator {
  display: none;
}

.demo .result {
  display: none;
}

.demo.loading .loading-indicator {
  display: block;
}

.demo.done .result {
  display: block;
}
.demo-input-left,
.demo-input-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

label {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
}

input, select, button {
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  font-size: 15px;
  color: #FFFFFF;
  background: #718F94;
}

input, select {
  padding: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 49%;
}

input::placeholder {
  color: #FFFFFF;
}

button {
  padding: 10px;
  margin-right: 10px;
}

button:hover {
  background: #FFFFFF;
  color: #718F94;
  transition: all 0.2s;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.input-container {
  display: block;
  padding: 10px 20px;
}
.input {
  width: 80%;
  min-height: 200px;
  resize: both;
  overflow: auto;
  margin-bottom: 20px;
}

.demo .loading-indicator {
  display: none;
}

.demo .result {
  display: none;
}

.demo.loading .loading-indicator {
  display: block;
}



